.editor-content {
  @media screen and (max-width: $breakpointLg) {
    // height: calc(100% - 3.5rem);
    height: fit-content !important;
  }
}

.editor-hidden {
  display: none !important;
}

.editor--horizontal {
  @media screen and (min-width: $breakpointLg) {
    height: calc(100% - 2rem);
  }
}