@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.wrapper {
  display: flex;
}

.page {
  @media (max-width: $breakpoint2Xl) {
    margin: auto;
    max-width: $max-width;
  }

  @media screen and (in-width: $breakpointLg) {
    height: calc(100vh - $header-height) !important;
  }

  @media screen and (max-width: $breakpointLg) {
    padding: 32px;
    margin: auto;
  }

  @media screen and (max-width: $breakpointMd) {
    padding: 0 24px 24px 24px;
    margin: auto;
  }
}

.container {
  margin: auto;
  max-width: $max-width;
  width: 100%;
}

.main-content {
  @media screen and (min-width: $breakpointLg) {
    max-width: calc($max-width - 64px);
    height: calc(100vh - $header-height) !important;
    width: 100%;
    margin-left: 0;
    margin-right: auto;
  }
}
