$max-width: 1440px;
$header-height: 64px;

$breakpointLg: 1024px;
$breakpointMd: 768px;

$border-color: #e5e7eb;
$dark-text:  #3C3C43;
$primary: #00BA92;
$secondary: #03FCC6;
$tertiary: #005F4C;
$light-text: #FCFCFC;
$light-background: #E2E2E3;
$dark-background: #4A4A4A;
$light-primary: #E6F8F4;
$extra-light-background: #1B1B1F;
$grey: #B7B4B4;
$red: #BA0013;
