@use '../../variables' as *;

.p-chip {
  padding-block: 0 !important;

  background-color: $primary !important;
  cursor: pointer;

  transition: all 350ms;

  .p-chip-label {
    color: $white !important;
  }

  &:hover {
    background-color: $tertiary !important;
  }
}
