@use '../../variables' as *;

.p-inputtext {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid $primary !important;
  color: var(--vp-c-text-1) !important;
}
