.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-gray-400 {
  scrollbar-color: #9ca3af #f3f4f6;
}

.scrollbar-track-gray-200::-webkit-scrollbar-track {
  background: #f3f4f6;
}

.scrollbar-thumb-gray-400::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 4px;
}
