.sidebar {
  @media (max-width: $breakpointMd) {
    width: 100%;
    height: auto;
  }

  a:hover {
    i {
      color: $dark-text;
    }
  }
}


.sidebar-grow {
  flex-grow: 1 !important;
  height: calc(100vh - $header-height);
}