.sidebar {
  flex-grow: 1;
  height: calc(100vh - $header-height);

  @media (max-width: $breakpointMd) {
    width: 100%;
    height: auto; 
  }

  a:hover {
    i {
      color: $dark-text;
    }
  }
}
