.cm-gutters {
  background-color: white !important;
  border: none !important;

  color: $light-background !important;
}

.cm-activeLine {
  background-color: $light-primary !important;
}

.cm-activeLineGutter {
  background-color: $light-primary !important;
  color: $dark-text !important;
}