.cm-gutters {
  background-color: var(--vp-custom-block-tip-bg) !important;
  border: none !important;

  color: var(--vp-c-text-1)!important;
}

.cm-activeLine {
  background-color: $secondary !important;
  color: $dark-text !important;
}

.cm-activeLineGutter {
  background-color: $secondary !important;
  color: $dark-text !important;
}

.v-codemirror {
  display: block !important;
}

.cm-content {
  width: 100% !important;
  overflow-y: auto;
}

.cm-selection .cm-selected {
  background-color: $primary;
  color: $light-text;
}

.cm-tooltip {
  color: $dark-text !important;
  background-color: $light-primary !important;
  border: 1.5px solid $primary !important;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  .cm-completionMatchedText{
    text-decoration: none !important;
    font-weight: 600 !important;
  }
  .cm-completionIcon {
    font-weight: 600 !important;
    color: $dark-text !important;
  }
}

.v-codemirror {
  * {
    font-family: 'Inter', sans-serif !important;
  }

  .cm-content *::selection {
    background-color: $primary !important;
    color: $light-text !important;
  }

  ::-webkit-scrollbar {
    width: thin !important;
  }

  ::-webkit-scrollbar-track  {
    background: #f1f1f1 !important; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #9ca3af;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: darken($color: $dark-text, $amount: 10%);
  }

  .cm-editor *::-webkit-scrollbar {
    width: thin !important;
    height: thin !important;
  }

  .cm-editor *::-webkit-scrollbar-track {
    background: #f1f1f1 !important; 
  }

  .cm-editor *::-webkit-scrollbar-thumb {
    background: #9ca3af;
    border-radius: 4px;
  }

  .cm-editor *::-webkit-scrollbar-thumb:hover {
    background: darken($color: $dark-text, $amount: 10%);
  }
}

.cm-completionIcon-function, .cm-completionIcon-method {
  &::after {
    content: 'ƒ'
  }
}

.cm-completionIcon-class::after {
  content: '○' 
}

.cm-completionIcon-interface::after {
  content: '◌'
}

.cm-completionIcon-component::after {
  content: 's'
}

.cm-completionIcon-variable::after {
  content: '𝑥'
}

.cm-completionIcon-constant::after,
.cm-completionIcon-encs::after,
.cm-completionIcon-bool::after {
  content: '𝐶'
}

.cm-completionIcon-type::after,
.cm-completionIcon-tag::after {
  content: '𝑡'
}

.cm-completionIcon-enum::after {
  content: '∪'
}

.cm-completionIcon-property::after,
.cm-completionIcon-charset::after,
.cm-completionIcon-attribute::after {
  content: '□'
}

.cm-completionIcon-keyword::after, .cm-completionIcon-target::after {
  content: '🔑\uFE0E'
}

.cm-completionIcon-namespace::after {
  content: '▢'
}

.cm-completionIcon-text::after {
  content: 'abc';
  font-size: "50%";
  vertical-align: "middle";
}

.v-codemirror .cm-content {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.cm-line {
  * {
    white-space: pre-wrap;
  }
}
