.output {
  overflow-y: hidden !important;
  width: 100% !important;
  background-color: transparent !important;
}

.hidden-output--vertical {
  overflow: hidden;
  height: 3rem !important;

  border-top: 1px solid $border-color !important;

  @media screen and (max-width: $breakpointLg) {
    border-top: 0px !important;
  }
}

.hidden-output--horizontal {
  overflow: hidden;
  width: 3rem !important;

  @media screen and (max-width: $breakpointLg) {
    width: 100% !important;
    height: 3rem !important;
  }
}

html.a-fullscreen {
  background-color: $grey !important;
}