.output {
  overflow-y: hidden !important;
  width: 100% !important;
  background-color: transparent !important;
}

.hidden-output--vertical {
  overflow: hidden;
  height: 3rem !important;
}

.hidden-output--horizontal {
  overflow: hidden;
  width: 3rem !important;
}

html.a-fullscreen {
  background-color: $grey !important;
}